/*Reset Styles*/ 

@import 'normalize.css';

/* Change all elements to use border-box */
* {
    box-sizing: border-box;
}
/*Theme Styles*/

/*base styel*/
body {
    color: #414042;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
h1 {
    font-weight: bold;
}

/* Layout style*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
[class*='col-'] {
    width: 100%;

    padding-left: 15px;
    padding-right: 15px;
}

.title
{
    color:#ff6000;
    font-size: 60pt/60pt;
    margin-top: 50px;
}
.card-left h4
{
    font-size: 36pt/36pt;
    font-weight: normal;
}
.card-left h5
{
    font-size: 30pt/30pt;
    font-weight: normal;
}

.square {
    height: 200px;
    width: 200px;
}
.square_org
{
    background-color: #ff6000;
}
.square_blue
{
    background-color:#00aaff ;
}
.square_yellow
{
    background-color:#ffff00 ;
}
.square_grey
{
    background-color:#717271; 
}

.card{
    margin-top: 30px;

}
.card__right
{
    padding-left: 50px;
    padding-bottom: 100px;
    border-left: 1px solid ;
}




@media (min-width: 48em) {
    [class*='col-'] {
        float: left;
    }
    .col-4 {width: 33.33%;}
    .col-8 {width: 66.66%;}
    }